NETWORK="TESTNET"

APP_NAME="Aurora Cacao"

BACKEND_API_ROUTE="http://localhost:8080/"

ACCESS_TOKEN_STORAGE="AuroraAToken"

REFRESH_TOKEN_STORAGE="AuroraRToken"

# NFT_CONTRACT="0x964606614eB6e7f8338Bcae4a7324Cd7A28C2B18"
NFT_CONTRACT="0x6174B83b3756e21959DbD9fc7ac4B78f21CD7033"